.full-width{
    width: 100%;
}
.bg-img{
    min-height: 120vh;
   width: 100%;
   background: url('F:\frontttttt\loginpage\src\assets\res.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   }
   .change{
       color:aliceblue;
   }
   .positive {
    color: green;
}

.negative {
    color: red;

}
.moderate{
    color: yellow;
}
   .card{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(192, 204, 26, 0.699) !important;
    }
    .card1{
        height: 150px;
        margin-top: auto;
        margin-bottom: auto;
        width: 540px;
        background-color: rgba(0, 0, 0, 0.5) !important;
        }
    .grand_parent{ width: 100vw; height:100vh;
        background: #dfe6e9; color: #fff;}
    h1{
        font-size: 4rem;
        padding: 20px 0;
        text-align: center;
        color: #000;
    }
    p{
        text-align: center;
    }
    .parents{ width: 100vw; height: auto; margin: auto;
        display: flex;  justify-content: space-around;
        flex-wrap: wrap; transition: all 0.2 linear;
    }
    .child{
        height: 150px;
        background: #9b9212af;;
        box-shadow: 0 0 20px #bac3c3;
        flex:1 1 200px;
        margin: 20px;
    }
    
    .child:first-child{
        background: #9b9212af;
    }
    .child:last-child{
        background: #9b9212af;
    }
    .child:second-child{
        background: #9b9212af;
    }
    @media (max-width: 768px){
        .grand_parent{height:auto;
         
    }
}